POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=meusgastos
ASPNETCORE_ENVIRONMENT=Development
TokenSecret=ChangeThisTokenSecretTo32CharsOrMore!
PasswordHashSecret=ChangeThisPasswordHashSecret32CharsOrMore!
