POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=meusgastos
ASPNETCORE_ENVIRONMENT=Development
TOKEN_SECRET=ChangeThisTokenSecretTo32CharsOrMore!
PASSWORD_HASH_SECRET=ChangeThisPasswordHashSecret32CharsOrMore!
